# Python Fundamentals

### Basic Data Types and Math

> Make easy things easy and hard things possible.
> 
> \- A slogan of Perl (a predecessor language to Python)

While Python can be used to write very complicated programs, one of its strengths is that easy things are still easy.
For example, Python can be a calculator.

In [1]:
# Addition
1 + 2

3

In [2]:
# Multiplication
12 * 4

48

In [3]:
# Exponentiation
2 ** 3

8

Once you start doing math, you may want to keep the values you calculate for later use.

Python allows you to do this with *variables* -- words that you choose to represent values you've stored.

In [4]:
# Place the result of "5 * 2" in a variable called "x".
x = 5 * 2

This process of storing something in a variable is often called **variable assignment**, or simply "assignment" for short.
You can assign almost anything to a variable.

In [5]:
# "Assign" the value 42 to the variable "answer".
answer = 42

You can then use the stored values in new calculations.

In [6]:
answer + 5

47

In [7]:
ten = 10
eleven = 11
ten + eleven

21

Python lets you name your variables whatever you want – the only rule is that they must be composed of numbers, letters, and underscores, and they cannot begin with a number.

It's a good idea to take advantage of this flexibility and name your variables with descriptions that help you remember what they contain.
For example, calling your variables `x`, `y`, and `z` is likely to lead to forgetting what you've stored where (unless you're working with coordinates, a domain where those names have meanings).
More descriptive names, like `number_of_items` or `size_of_container`, are better.

In [8]:
# Perfectly good variable name
my_3rd_favorite_number = 18

In [9]:
# Legal, but undescriptive, variable name
a = 7

In [10]:
# Illegal variable name -- it starts with a number
4_plus_1 = 4 + 1

SyntaxError: invalid token (<ipython-input-10-91a8404a6335>, line 2)

If you try to name a variable something illegal, Python will gently remind you to follow the rules with a `SyntaxError` and an arrow indicating the location of the error.

<font style="color:#800;">
    <strong>Caution</strong>:<br><em>Sometimes Python doesn't pinpoint the error very well, and the error will not be in the same place as the arrow.</em>
</font>

Fortunately, Python can handle values beyond integers.
It's happy to work with decimal numbers.

In [ ]:
1 / 3

In [ ]:
1.5 * 1.5

In computer science lingo, decimal numbers are often called **floating point numbers**, or **floats** for short.
The name refers to how such numbers are stored by a computer internally, but you don't need to worry about that.
Just be aware that many people on the internet and in data science industry will speak in terms of "floats" and "ints" when they refer to numbers in Python.

Python also can work with text data, like words and sentences.

In [ ]:
my_name = 'ethan'
my_hobbies = 'coding, reading, basketball'

In Python, these bits of text are called **strings** and are enclosed in quotation marks.
Both single quotes (`'`) and double quotes (`"`) are fine, but most Pythonistas use single quotes as a matter of convention.

Conveniently, Python lets you "add" strings together to compose longer strings.

In [ ]:
'Monty' + ' ' + 'Python'

In [11]:
first_name = 'Guido'
last_name = 'van Rossum'
# Remember to add a space between words!
first_name + ' ' + last_name

'Guido van Rossum'

The last kind of value that we'll talk about is a **boolean**, or a True/False value.
Python recognizes the words `True` and `False` as **keywords** -- words that have an implicit meaning in the language. That means you can assign them to variables as you can with other data types.

In [12]:
is_the_moon_made_of_cheese = False
is_this_the_best_python_class = True

### DataFrames

So far we've worked with single values: numbers, strings, and booleans.
But Python also supports more complex data types, sometimes called *data structures*.

In data science, the most common data structure is the **DataFrame**.
DataFrames are a collection of tabular data -- you might think of them as *tables* or *datasets*, depending on your background.

Let's take a look at one.

In [13]:
# Don't worry about this "boilerplate" code for now.
import pandas as pd
planes = pd.read_csv('../data/planes.csv')

In [14]:
# Asking for the "head" of a DataFrame will show you the first 5 rows.
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

DataFrames have **column names** (tailnum, year, type, etc) and **row indexes** (the bold numbers on the left, starting at zero).

In [15]:
# Asking for the "head" of a DataFrame will show you the first 5 rows.
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

The values (elements) within the DataFrame are the Python types we covered above: integers, floats, strings, and booleans.
<font style="color:#008;">
    <strong>Question</strong>:<br><em>Which of these columns are strings?</em>
</font>

Because DataFrames can hold almost any kind of data and support powerful *data wrangling* features, they have become the basic unit of data science work.

Much of our time today will be dedicated to exploring DataFrames.